# Python Einf√ºhrung
## Erste Anweisung
dieser text ist *kursiv* oder **fett** oder ***fett-kursiv***
- Punkt 1
- Punkt 2
- Punkt 3

In [1]:
print("Hello World!")

Hello World!

In [2]:
# Das ist ein Kommentar
print("something")

something

In [7]:
# Variablen und Wertzuweisung
name = "Lovelace"

In [4]:
print (name)

Lovelace

In [5]:
age = 70
print (age)

70

In [6]:
size = 1.7123
print (size)

1.7123

In [17]:
knows_math = True

In [18]:
print(knows_math)

True

In [21]:
likes_gardening = False

In [23]:
type (likes_gardening)

bool

In [24]:
bool ("likes_gardening")

True

# Operationen

In [25]:
5 + 5

10

In [26]:
age * 100

7000

In [27]:
name + name

'LovelaceLovelace'

In [28]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [29]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [30]:
name + "10"

'Lovelace10'

In [31]:
name + str (10)

'Lovelace10'

In [32]:
size / age

0.02446142857142857

In [33]:
int("10")

10

In [34]:
int ("zehn")

ValueError: invalid literal for int() with base 10: 'zehn'

## Funktionen und Methoden

In [35]:
name

'Lovelace'

In [36]:
len(name)

8

In [37]:
#Funktion (variable) shift enter
#Methoden: variable.Methode

In [38]:
name.upper ()

'LOVELACE'

In [40]:
name_up = name.upper ()

In [41]:
print (name_up)

LOVELACE

In [42]:
name.count ("e")

2

In [44]:
name.replace ("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [45]:
names =["Lovelaces", "Darwin", "Curie", "Hawking"]

In [46]:
type (names)

list

In [48]:
# erste Stelle ist 0
names [2]

'Curie'

In [49]:
names [3]

'Hawking'

In [50]:
names [-1]

'Hawking'

In [54]:
# 0 inklusive, 2 exklusive
names[:2]

['Lovelaces', 'Darwin']

In [53]:
names [2:]

['Curie', 'Hawking']

In [56]:
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809, 
                           "Noehter":1882,
                          "Hawking": 1942}

In [57]:
authors_and_birth_years ["Darwin"]

1809

## for-Schleife

In [58]:
names

['Lovelaces', 'Darwin', 'Curie', 'Hawking']

In [60]:
for person in names:
    print (person + " did awesome stuff.")

Lovelaces did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

In [61]:
for person in names:
    print (person + " did awesome stuff.")
    print ("-------------------")

Lovelaces did awesome stuff.
-------------------
Darwin did awesome stuff.
-------------------
Curie did awesome stuff.
-------------------
Hawking did awesome stuff.
-------------------

In [62]:
for person in names:
    print (person + " did awesome stuff.")
print ("-------------------")

Lovelaces did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.
-------------------

## Bedingte Anweisungen (Conditionals)

In [64]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [65]:
20 > 15

True

In [66]:
5 > 15

False

In [67]:
temp = 5
if temp > 15:
    print("It's warm")

In [68]:
temp = 10
if temp > 15:
    print("It's warm")
else: 
    print ("It's cold")

It's cold

In [71]:
temp = 15
if temp>=25:
    print ("It's hot")
elif temp>=15:
    print ("It's warm")
else:
    print("It's cold")

It's warm

In [72]:
temp= 17
if (temp> 15 and temp<20):
    print ("It's mild")

It's mild

In [73]:
True and True

True

In [74]:
True and False

False

In [76]:
False and False

False

In [77]:
False and True

False

In [86]:
temp= 41
if(temp < 0 or temp > 40):
    print("It's extreme")

It's extreme

In [87]:
import os
print(os.path.abspath(os.getcwd()))

C:\Users\Weigerding

In [88]:
! pip install pyppeteer

Collecting pyppeteer
  Downloading pyppeteer-0.2.5-py3-none-any.whl (87 kB)
Collecting appdirs<2.0.0,>=1.4.3
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in c:\anaconda3_x64\lib\site-packages (from pyppeteer) (1.25.11)
Collecting websockets<9.0,>=8.1
  Downloading websockets-8.1-cp38-cp38-win_amd64.whl (66 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\anaconda3_x64\lib\site-packages (from pyppeteer) (4.50.2)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.1.0-py2.py3-none-any.whl (12 kB)
Installing collected packages: appdirs, websockets, pyee, pyppeteer
Successfully installed appdirs-1.4.4 pyee-8.1.0 pyppeteer-0.2.5 websockets-8.1